<a href="https://colab.research.google.com/github/haynis/web-framework/blob/main/Assessment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this process I import the library or package that will be used, and the library I use in this case is Pandas to process the data

In [110]:
import pandas as pd

Read dataset problem_2.csv

In [64]:
# read data
data = pd.read_csv('problem_2.csv')
data.head(10)

,Case ID,Start Timestamp,Complete Timestamp,Activity,Resource,Role
0,339,2011/02/16 14:31:00.000,2011/02/16 15:23:00.000,Create Purchase Requisition,Nico Ojenbeer,Requester
1,339,2011/02/17 09:34:00.000,2011/02/17 09:40:00.000,Analyze Purchase Requisition,Maris Freeman,Requester Manager
2,339,2011/02/17 21:29:00.000,2011/02/17 21:52:00.000,Amend Purchase Requisition,Elvira Lores,Requester
3,339,2011/02/18 17:24:00.000,2011/02/18 17:30:00.000,Analyze Purchase Requisition,Heinz Gutschmidt,Requester Manager
4,339,2011/02/18 17:36:00.000,2011/02/18 17:38:00.000,Create Request for Quotation Requester Manager,Francis Odell,Requester Manager
5,339,2011/02/22 09:34:00.000,2011/02/22 09:58:00.000,Analyze Request for Quotation,Magdalena Predutta,Purchasing Agent
6,339,2011/02/22 10:50:00.000,2011/02/22 11:03:00.000,Amend Request for Quotation Requester,Penn Osterwalder,Requester Manager
7,339,2011/02/28 08:10:00.000,2011/02/28 08:34:00.000,Analyze Request for Quotation,Francois de Perrier,Purchasing Agent
8,940,2011/05/17 06:31:00.000,2011/05/17 07:08:00.000,Create Purchase Requisition,Immanuel Karagianni,Requester
9,940,2011/05/17 09:58:00.000,2011/05/17 10:06:00.000,Create Request for Quotation Requester,Esmana Liubiata,Requester

#check if there is cases that end with "Pay Invoice" Activity

In [31]:
#check if there is 'Pay invoice' data in the Activity column
any(data['Activity'] == 'Pay invoice')

True

#Get the amount of cases that end with "Pay Invoice" Activity is 413 cases

In [82]:
data[data['Activity'] == 'Pay invoice'].count()

Case ID               413
Start Timestamp       413
Complete Timestamp    413
Activity              413
Resource              413
Role                  413
dtype: int64

#Get the amount of cases that don’t end with “Pay Invoice” Activity is 8706 cases

In [44]:
data[data['Activity'] != 'Pay invoice'].count()

Case ID               8706
Start Timestamp       8706
Complete Timestamp    8706
Activity              8706
Resource              8706
Role                  8706
dtype: int64

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9119 entries, 0 to 9118
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Case ID             9119 non-null   int64
 1   Start Timestamp     9119 non-null   object
 2   Complete Timestamp  9119 non-null   object
 3   Activity            9119 non-null   object
 4   Resource            9119 non-null   object
 5   Role                9119 non-null   object
dtypes: int64(1), object(5)
memory usage: 427.6+ KB

#Get average duration of the case that end with “Pay Invoice” Activity

In [83]:
data.describe()
pd.DataFrame(data.groupby('Complete Timestamp').describe().stack())

                               Case ID
Complete Timestamp
2011/01/01 00:29:00.000 count      1.0
                        mean       2.0
                        min        2.0
                        25%        2.0
                        50%        2.0
...                                ...
2011/10/14 15:31:00.000 min     1448.0
                        25%     1448.0
                        50%     1448.0
                        75%     1448.0
                        max     1448.0

[56630 rows x 1 columns]

In [84]:
data.describe()
pd.DataFrame(data.groupby('Start Timestamp').describe().stack())

                               Case ID
Start Timestamp
2011/01/01 00:00:00.000 count      1.0
                        mean       1.0
                        min        1.0
                        25%        1.0
                        50%        1.0
...                                ...
2011/10/14 15:16:00.000 min     1448.0
                        25%     1448.0
                        50%     1448.0
                        75%     1448.0
                        max     1448.0

[61314 rows x 1 columns]

# Get and show all case that has only “Pedro Alvares” as a “Financial Manager”

In [108]:
data.query("Resource == 'Pedro Alvares' and Role == 'Financial Manager'")

,Case ID,Start Timestamp,Complete Timestamp,Activity,Resource,Role
22,940,2011/05/28 15:28:00.000,2011/05/28 15:28:00.000,Authorize Supplier's Invoice payment,Pedro Alvares,Financial Manager
51,159,2011/02/05 14:13:00.000,2011/02/05 14:23:00.000,Pay invoice,Pedro Alvares,Financial Manager
75,158,2011/02/01 21:31:00.000,2011/02/01 21:31:00.000,Authorize Supplier's Invoice payment,Pedro Alvares,Financial Manager
76,158,2011/02/01 21:49:00.000,2011/02/01 21:59:00.000,Pay invoice,Pedro Alvares,Financial Manager
96,949,2011/08/20 22:58:00.000,2011/08/20 23:04:00.000,Release Supplier's Invoice,Pedro Alvares,Financial Manager
...,...,...,...,...,...,...
9058,1161,2011/09/26 20:53:00.000,2011/09/26 20:53:00.000,Authorize Supplier's Invoice payment,Pedro Alvares,Financial Manager
9076,259,2011/02/15 23:55:00.000,2011/02/15 23:55:00.000,Authorize Supplier's Invoice payment,Pedro Alvares,Financial Manager
9116,1358,2011/10/11 20:53:00.000,2011/10/11 20:57:00.000,Release Supplier's Invoice,Pedro Alvares,Financial Manager
9117,1358,2011/10/11 20:57:00.000,2011/10/11 20:57:00.000,Authorize Supplier's Invoice payment,Pedro Alvares,Financial Manager
9118,1358,2011/10/11 21:52:00.000,2011/10/11 22:02:00.000,Pay invoice,Pedro Alvares,Financial Manager

#Get and show all case that has “Settle dispute with supplier Purchasing Agent” in one of its activities

In [109]:
data.query("Activity == 'Settle dispute with supplier Purchasing Agent'")

,Case ID,Start Timestamp,Complete Timestamp,Activity,Resource,Role
149,155,2011/02/01 00:57:00.000,2011/02/01 10:32:00.000,Settle dispute with supplier Purchasing Agent,Karel de Groot,Purchasing Agent
431,204,2011/02/03 13:17:00.000,2011/02/03 22:12:00.000,Settle dispute with supplier Purchasing Agent,Francois de Perrier,Purchasing Agent
433,204,2011/02/04 17:43:00.000,2011/02/05 02:40:00.000,Settle dispute with supplier Purchasing Agent,Magdalena Predutta,Purchasing Agent
868,739,2011/04/26 06:43:00.000,2011/04/26 16:05:00.000,Settle dispute with supplier Purchasing Agent,Karel de Groot,Purchasing Agent
930,340,2011/03/01 19:28:00.000,2011/03/02 04:51:00.000,Settle dispute with supplier Purchasing Agent,Karel de Groot,Purchasing Agent
1201,826,2011/07/28 13:07:00.000,2011/07/28 22:07:00.000,Settle dispute with supplier Purchasing Agent,Francois de Perrier,Purchasing Agent
1239,214,2011/02/10 05:25:00.000,2011/02/10 14:51:00.000,Settle dispute with supplier Purchasing Agent,Francois de Perrier,Purchasing Agent
2208,182,2011/02/06 21:45:00.000,2011/02/07 06:32:00.000,Settle dispute with supplier Purchasing Agent,Karel de Groot,Purchasing Agent
2693,434,2011/03/12 21:54:00.000,2011/03/13 07:19:00.000,Settle dispute with supplier Purchasing Agent,Magdalena Predutta,Purchasing Agent
3012,124,2011/01/29 08:32:00.000,2011/01/29 17:39:00.000,Settle dispute with supplier Purchasing Agent,Karel de Groot,Purchasing Agent
3049,306,2011/02/21 20:40:00.000,2011/02/22 05:42:00.000,Settle dispute with supplier Purchasing Agent,Francois de Perrier,Purchasing Agent
3640,146,2011/01/28 21:30:00.000,2011/01/29 07:40:00.000,Settle dispute with supplier Purchasing Agent,Karel de Groot,Purchasing Agent
3915,564,2011/04/03 13:12:00.000,2011/04/03 22:23:00.000,Settle dispute with supplier Purchasing Agent,Francois de Perrier,Purchasing Agent
4254,690,2011/06/20 11:13:00.000,2011/06/20 20:50:00.000,Settle dispute with supplier Purchasing Agent,Francois de Perrier,Purchasing Agent
4256,690,2011/06/21 07:19:00.000,2011/06/21 17:39:00.000,Settle dispute with supplier Purchasing Agent,Francois de Perrier,Purchasing Agent
5482,1178,2011/09/26 01:02:00.000,2011/09/26 10:23:00.000,Settle dispute with supplier Purchasing Agent,Magdalena Predutta,Purchasing Agent
5622,13,2011/01/07 21:34:00.000,2011/01/08 06:37:00.000,Settle dispute with supplier Purchasing Agent,Francois de Perrier,Purchasing Agent
6296,58,2011/01/20 04:56:00.000,2011/01/20 13:48:00.000,Settle dispute with supplier Purchasing Agent,Francois de Perrier,Purchasing Agent
6339,55,2011/01/21 01:29:00.000,2011/01/21 10:57:00.000,Settle dispute with supplier Purchasing Agent,Francois de Perrier,Purchasing Agent
6896,286,2011/02/18 03:47:00.000,2011/02/18 12:30:00.000,Settle dispute with supplier Purchasing Agent,Karel de Groot,Purchasing Agent
6923,1388,2011/09/25 16:15:00.000,2011/09/26 01:12:00.000,Settle dispute with supplier Purchasing Agent,Francois de Perrier,Purchasing Agent
7127,1375,2011/09/18 15:07:00.000,2011/09/19 00:10:00.000,Settle dispute with supplier Purchasing Agent,Francois de Perrier,Purchasing Agent
7314,98,2011/01/24 11:52:00.000,2011/01/24 21:16:00.000,Settle dispute with supplier Purchasing Agent,Francois de Perrier,Purchasing Agent
7673,492,2011/03/19 09:05:00.000,2011/03/19 18:45:00.000,Settle dispute with supplier Purchasing Agent,Magdalena Predutta,Purchasing Agent
8398,236,2011/02/10 17:41:00.000,2011/02/11 03:23:00.000,Settle dispute with supplier Purchasing Agent,Magdalena Predutta,Purchasing Agent
8686,269,2011/02/21 00:07:00.000,2011/02/21 08:24:00.000,Settle dispute with supplier Purchasing Agent,Francois de Perrier,Purchasing Agent